:root {
  /*Colors*/
  --body: #f6f9ff;
  --textDark: #7d7d7d;
  --textLight: #fff;
  --white: #fff;
  --offWhite: #f5f6ff;
  --primaryColor: #3f80f9;
  --primaryColorLight: rgba(63, 144, 249, 0.1);
  --red: rgb(214, 22, 22);
}

.darK:root {
  --body: #1E1E1E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--body);
}

a {
  text-decoration: none;
  color: var(--textDark);
}

ul {
  list-style: none;
}

i {
  font-size: 25px;
  cursor: pointer;
}

.container {
  display: flex;
}

.sectionApp {
  width: 100%;
}