header{
    height: 27vh;
    background-color: var(--primaryColor);
    color: var(--white);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 30px 40px;
}

header span{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}